<% include header.html %>

        <div id="indexMenu">
            <ul>
                <li>
                    <a href="/" id="home" class="on">Home</a>
                </li>
                <li>
                    <a href="/submit" id="submit">Submit Button</a>
                </li>
                <li>
                    <a href="/right" id="right">Right Button</a>
                </li>
                <li>
                    <a href="/fault" id="fault">Fault Button</a>
                </li>
            </ul>
        </div>
        <div id="indexButton">
            <div id="welcome" class="animated-down">
                Welcome to CSS Buttons!
            </div>
            <div id="orange" class="animated-right">
                <a href="#">Submit</a>
            </div>
            <div id="green" class="animated-right">
                ✓
            </div>
            <div id="red" class="animated-up">
                ✗
            </div>
        </div>

<% include footer.html %>
