<% include header.html %>

        <div id="indexMenu">
            <ul>
                <li>
                    <a href="/" id="home" class="on">Home</a>
                </li>
                <li>
                    <a href="/submit" id="submit">Submit Button</a>
                </li>
                <li>
                    <a href="/right" id="right">Right Button</a>
                </li>
                <li>
                    <a href="/fault" id="fault">Fault Button</a>
                </li>
            </ul>
        </div>
        <div id="welcome" class="animated">
            Welcome to CSS Buttons!
        </div>
        <div id="orange" class="animated">
            <a href="#">Submit</a>
        </div>

<% include footer.html %>
