<% include header.html %>

        <div id="index">
            <div id="ul">
                <ul>
                    <li>
                        <a href="/" class="on">Home</a>
                    </li>
                    <li>
                        <a href="/submit">Submit Button</a>
                    </li>
                    <li>
                        <a href="/right">Right Button</a>
                    </li>
                    <li>
                        <a href="/fault">Fault Button</a>
                    </li>
                </ul>
            </div>
        </div>

<% include footer.html %>
