/*
* Less 实现代码重用
*
*/
.fontAndBackColor {
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
}
.buttonHoverAnimation {
  -webkit-transition: all .2s;
  transition: all .2s;
}
.buttonHoverAnimation:hover {
  box-shadow: 0 0 15px 1px #FFF;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*
* 代码开始
*
*/
* {
  /* layout */
  padding: 0;
  margin: 0;
  /* typography */
  font-family: sans-serif;
  font-size: 16px;
}
body {
  /* layout */
  background: url(/images/back3.jpg) no-repeat fixed center top;
  background-size: cover;
}
body #indexMenu {
  /* layout */
  position: fixed;
  top: 100px;
  left: 150px;
  margin-right: 300px;
}
body #indexMenu ul {
  /* layout */
  list-style: none;
}
body #indexMenu ul:hover {
  box-shadow: 0 0 15px 1px #FFF;
}
body #indexMenu ul a {
  /* color */
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
  /* layout */
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 1px;
  display: block;
  text-decoration: none;
  text-indent: 10px;
}
body #indexMenu ul a#home {
  border-radius: 5px 5px 0 0;
}
body #indexMenu ul a#fault {
  border-radius: 0 0 5px 5px;
}
body #indexMenu ul a:hover {
  text-decoration: underline;
}
body #indexButton {
  /* layout */
  text-align: center;
}
body #indexButton #welcome {
  /* color */
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
  /* typography */
  font-size: 2em;
  font-weight: bold;
  /* layout */
  width: 450px;
  height: 200px;
  padding: 50px;
  margin-top: 100px;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}
body #indexButton #welcome:hover {
  box-shadow: 0 0 15px 1px #FFF;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
body #indexButton #orange {
  /* color */
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
  /* typography */
  font-size: 1em;
  font-weight: bold;
  /* layout */
  width: 200px;
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
  margin-top: 100px;
  display: none;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}
body #indexButton #orange:hover {
  box-shadow: 0 0 15px 1px #FFF;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
body #indexButton #green {
  /* color */
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
  /* typography */
  font-size: 1em;
  font-weight: bold;
  /* layout */
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100%;
  margin-top: 100px;
  display: none;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}
body #indexButton #green:hover {
  box-shadow: 0 0 15px 1px #FFF;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
body #indexButton #red {
  /* color */
  color: #FFF;
  background-color: rgba(255, 192, 203, 0.5);
  /* typography */
  font-size: 1em;
  font-weight: bold;
  /* layout */
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 2px;
  margin-top: 100px;
  display: none;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}
body #indexButton #red:hover {
  box-shadow: 0 0 15px 1px #FFF;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.animated-down {
  -webkit-animation: bounceInDown 2s;
          animation: bounceInDown 2s;
}
.animated-up {
  -webkit-animation: bounceInUp 2s;
          animation: bounceInUp 2s;
}
.animated-right {
  -webkit-animation: bounceInRight 2s;
          animation: bounceInRight 2s;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
