/*
* Less 实现代码重用
*
*/

.fontAndBackColor {
    color: #FFF;
    background-color: rgba(255, 192, 203, 0.5);
}

.buttonHoverAnimation {
    transition: all .2s;
    &:hover {
        box-shadow: 0 0 15px 1px #FFF;
        transform: translateY(-10px);
    }
}

.animation-definition(@animationName) {
    animation: @animationName 2s;
}

/*
* 代码开始
*
*/

* {
    /* layout */
    padding: 0;
    margin: 0;

    /* typography */
    font-family: sans-serif;
    font-size: 16px;
}

body {
    /* layout */
    //background: url(/images/back3.jpg) no-repeat fixed center top;
    //background-size: cover;

    #indexMenu {
        /* layout */
        position: fixed;
        top: 100px;
        left: 150px;
        margin-right: 300px;

        ul {
            /* layout */
            list-style: none;
            
            &:hover {
                box-shadow: 0 0 15px 1px #FFF;
            }

            a {
                /* color */
                .fontAndBackColor;

                /* layout */
                width: 150px;
                height: 35px;
                line-height: 35px;
                margin-bottom: 1px;

                display: block;
                text-decoration: none;
                text-indent: 10px;

                &#home {
                    border-radius: 5px 5px 0 0;
                }

                &#fault {
                    border-radius: 0 0 5px 5px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    #indexButton {
        /* layout */
        text-align: center; //进行 inline-block 按钮居中

        #welcome {
            /* color */
            .fontAndBackColor;

            /* typography */
            font-size: 2em;
            font-weight: bold;

            /* layout */
            width: 450px;
            height: 200px;
            padding: 50px;
            margin-top: 100px;
            border-radius: 5px;

            display: inline-block;

            .buttonHoverAnimation;
        }

        #orange {
            /* typography */
            font-size: 1em;
            font-weight: bold;

            /* layout */
            width: 200px;
            height: 100px;
            line-height: 100px;
            border-radius: 10px;
            margin-top: 100px;

            display: none;
            text-align: center;

            .buttonHoverAnimation;

            a {
                /* color */
                .fontAndBackColor;

                /* layout */
                display: block;
                text-decoration: none;
            }
        }

        #green {
            /* color */
            .fontAndBackColor;

            /* typography */
            font-size: 1em;
            font-weight: bold;

            /* layout */
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 100%;
            margin-top: 100px;

            display: none; 
            text-align: center;

            .buttonHoverAnimation;
        }

        #red {
            /* color */
            .fontAndBackColor;

            /* typography */
            font-size: 2em;
            font-weight: bold;

            /* layout */
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin-top: 100px;
            border-radius: 2px;

            display: none;
            text-align: center;
            
            .buttonHoverAnimation;
        }
    }
}

.animated-down {
    .animation-definition(bounceInDown);
}

.animated-up {
    .animation-definition(bounceInUp);
}

.animated-right {
    .animation-definition(bounceInRight);
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(-30px);
    }
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        opacity: 1;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
